<div class="card p-4 shadow-2" style="height: auto">
    <div class="grid">
        <div class="col-12 mb-2 lg:col-10 lg:mb-0">
            <div class="inline text-3xl font-medium text-900 mb-3">Twitter</div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div *ngIf="isLoggedIn; else elseLoginBlock">
                <button pButton type="button" label="Logout from Twitter" class="inline ml-auto" (click)="onLogoutClick()"></button>
            </div>
            <ng-template #elseLoginBlock>
                <button pButton type="button" label="Login to Twitter" class="inline ml-auto" (click)="onLoginClick()"></button>
            </ng-template>
        </div>
    </div>
    <div *ngIf="isLoggedIn; else elseBlock">
        <div class="font-medium text-500 mb-3">Choose between posting text, image, or video to Twitter with SMH!</div>
        <div class="field grid ml-3 mt-4">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Pin Code *</label>
            <div class="col-12 md:col-10">
                <input pInputText [(ngModel)]="pinCode" (ngModelChange)="onPinChange($event)" type="text" style="width: 70%"/>
            </div>
        </div>
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
        <router-outlet></router-outlet>
    </div>
    <ng-template #elseBlock>
        <div class="font-medium text-500 mb-3">You must be logged in to post to Twitter! Please copy the pin code you will be given post logging in !!!</div>
    </ng-template>
</div>
