
<div class="card p-4 shadow-2">
    <div class="text-3xl font-medium text-900 mb-3">YouTube</div>
    <div class="font-medium text-500 mb-3">Upload a video to YouTube with SMH!</div>
    <div class="ml-5">
        <p-toast position="top-right"></p-toast>
        <div class="field grid pt-4">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Video Path *</label>
            <div class="col-12 md:col-10">
                <input pInputText [(ngModel)]="videoPath" type="text" style="width: 70%"/>
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Title</label>
            <div class="col-12 md:col-10">
                <input pInputText [(ngModel)]="title" type="text" style="width: 70%"/>
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
            <div class="col-12 md:col-10">
                <textarea pInputTextarea [(ngModel)]="description" style="width: 70%; height: 150%"></textarea>
            </div>
        </div>
        <button pButton type="button" label="Post" style="margin-top: 5rem; width: auto; margin-bottom: 1rem;" (click)="onPostClick()"></button>
    </div>
</div>
