<div class="ml-5">
    <p-toast position="top-right"></p-toast>
    <h5 class="mt-5">Template</h5>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Sender Phone Number ID *</label>
        <div class="col-12 md:col-10">
            <input pInputText [(ngModel)]="phoneNbId" type="text" style="width: 70%"/>
        </div>
    </div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Recepient Number *</label>
        <div class="col-12 md:col-10">
            <input pInputText [(ngModel)]="recepientNb" type="text" style="width: 70%"/>
        </div>
    </div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Template Name *</label>
        <div class="col-12 md:col-10">
            <input pInputText [(ngModel)]="templateName" type="text" style="width: 70%"/>
        </div>
    </div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0">Template Language Code *</label>
        <div class="col-12 md:col-10">
            <input pInputText [(ngModel)]="templateLangCode" type="text" style="width: 70%"/>
        </div>
    </div>
    <button pButton type="button" label="Post" style="margin-top: 5rem; width: auto; margin-bottom: 1rem;" (click)="onPostClick()"></button>
</div>