<div class="card surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
    </div>
    <div class="text-700 text-sm mb-6">Choose among five social media platforms.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-facebook text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Facebook</div>
            <span class="text-700 text-sm line-height-3">Post to your Facebook page.<br>Options include text and either an image or a video with optional text. Images and videos can be from the internet or from your local device.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-instagram text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Instagram</div>
            <span class="text-700 text-sm line-height-3">Post to your Instagram business account connected to a Facebook Page.<br> Options include either an image or a video from the internet with optional text.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-whatsapp text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">WhatsApp</div>
            <span class="text-700 text-sm line-height-3">Send WhatsApp messages from a phone number connected to a WhatsApp Business account.<br> Options include a message template, text, either an image or a video with optional text, and a sticker. Images, videos and stickers can be from the internet or from your local device.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-twitter text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Twitter</div>
            <span class="text-700 text-sm line-height-3">Create Tweets with text only or with an image/video from your local device with optional text.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-youtube text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">YouTube</div>
            <span class="text-700 text-sm line-height-3">Upload a video from your local device to a YouTube channel with a title and description.</span>
        </div>
    </div>
</div>